*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    cursor:default;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(fonts/static/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/static/Montserrat-Regular.ttf);
}
@media screen and (max-width: 375px) {
    .container{
        max-width: 375px;
        padding: 0;
    }
    .menu .logo {
        display: none;
    }
    .menu-burger {
        background: url(images/menu-burger.png);
        width: 16px;
        height: 16px;
        background-size: contain;
        margin: 25px 24px 25px 25px;
        background-repeat: no-repeat;
    }
    .catalog {
        display: none;
    }
    .search {
        border-left: #EEEEEE solid 1px;
        border-right: #EEEEEE solid 1px;
        display: flex;
        align-items: center;
        padding: 18px 21px 19px 25px;
    }
    .search-icon{
        background: url(images/search.png);
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .search input {
        border: none;
        width: 112px;
        height: 17px;
        color: black;
        font-style: Montserrat-Regular;
        font-size: 14px;
        outline:none;
        margin-left: 15px;
    }
    .sales-icon div{
        width: 18px;
        height: 18px;
        background: url(images/percent.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .sales-icon{
        border-right: #EEEEEE solid 1px;
        padding: 19px 20px 20px 20px;
    }
    .menu ul{
        display: none;
    }
    .menu{
        display:grid;
        grid-template-columns: 65px 194px 58px 58px;
        grid-template-rows: 58px;
        border-bottom: #EEEEEE solid 1px;
    }
    .cart {
        background: url(images/cart.png);
        width: 18px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 18px 20px 21px 20px;
    }
    .items-in-cart{
        display: grid;
        align-items: center;
        justify-content: center;
        color: #C949CA;
        background-color: #FFF3FF;
        border-radius: 6px;
        font-family: Montserrat-Medium;
        font-size: 10px;
        padding: 2px 6px;
        margin: -8px -9px 9px 9px;
    }
    .categories-menu ul {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: -69px 0 30px 111px; 
    }
    .categories-menu ul li{
        font-family: Montserrat-Medium;
        font-size: 14px;
        border: #EEEEEE solid 1px;
        border-radius: 29px;
        padding: 9px 14px;
        white-space: nowrap;
        list-style: none;
    }
    .categories-menu ul li:nth-child(3){
        display: none;
    }
    .categories-menu ul li:nth-child(4){
        display: none;
    }
    .categories-menu ul li:nth-child(5){
        display: none;
    }
    .categories-menu .phone-number{
        display: none;
    }
    .categories-menu .icon {
        display: none;
    }
    .work-hours{
        display: none;
    }
    .categories-menu .logo{
        background: url(images/logo.png);
        width: 66px;
        height: 33px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 22px 30px 32px 15px;;
    }
    .start-banner {
        width: 375px;
        height: 198px;
        background-size: contain;
        background-repeat: no-repeat;
        background: url(images/banner-mob.png);
        display: flex;
    }
    .start-banner h1{
        font-family: Montserrat-Bold;
        font-size: 28px;
        color: white;
        line-height: 130%;
        margin: 37px auto 0 11px;
    }
    .start-banner h2{
        font-family: Montserrat-Bold;
        font-size: 18px;
        color: white;
        line-height: 130%;
        margin: 0 auto 25px 11px;
    }
    .start-banner .buttons .show-me{
        background-color: white;
        font-family: Montserrat-Bold;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-left: 11px;
    }
    .start-banner .buttons .more-info{
        display: none;
    }
    .start-banner .buttons .see-all{
        display: none;
    }
    .header-category{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .header-category h1{
        font-family: Montserrat-Bold;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.7px;
    }
    .header-category p{
        display: none;
    }
    .header-category .arrow{
        display: none;
    }
    .blocks{
        margin-top: 15px;
        display: flex;
        row-gap: 20px;
        column-gap: 19px;
        flex-wrap: wrap;
        margin-left: 15px;
    }
    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blocks .block .image {
        width: 163px;
        height: 180px;
        border-radius: 13px;
        background-size: contain;
        background-image: url(images/ballons-1.png)
    }
    .blocks .block h2{
        margin-top: 10px;
        font-family: Montserrat-SemiBold;
        font-size: 13px;
        line-height: 130%;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .popular-categories .blocks .block:nth-child(4){
        display:none;
    }
    .popular-categories .blocks .block:nth-child(6){
        display:none;
    }
    .popular-categories .blocks .block:nth-child(){
        display:none;
    }
    .popular-products{
        margin-top: 10px;
    }
    
    .sale-value{
        background: #FFF3FF;
        border-radius: 6px;
        padding: 5px;
        margin: 167px 145px 5px 5px;
        color: #FF32A1;
        font-family: Montserrat-SemiBold;
        font-size: 10px;
        line-height: 130%;
    }
    .item {
        width: 175px;
        height: 195px;
        background-size: contain;
        background-repeat: no-repeat;
        background: url(images/ballons-4.png);
        background-position: center;
        border-radius: 7px;
    }
    .price {
        display: flex;
        margin-bottom: 8px;
        margin-top: 12px;
    }
    .price h1{
        font-family: Montserrat-SemiBold;
        font-size: 16px;
        line-height: 130%;
    }
    .price h4{
        font-family: Montserrat-Medium;
        font-size: 10px;
        line-height: 130%;
        text-decoration: line-through;
        color: #8B8B8B;
        margin-top: 6px;
        margin-left: 14px;
    }
    .price h3 {
        display: none;
    }
    .add-to-cart{
        background: url(images/plus.png);
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 43px;
    }
    .block p{
        font-family: Montserrat-Medium;
        line-height: 130%;
        font-size: 12px;
        color: #3A3A3A;
        max-width: 134px;
        margin-left: -20px;
    }
    .popular-products .blocks{
        margin-left: 5px;
        row-gap: 19px;
        column-gap: 15px;
    }
    .sales-banner{
        margin-top: 30px;
        background: linear-gradient(70deg, rgba(240, 136, 242, 1), rgba(202, 74, 203, 1));
    }
    .sales-banner div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sales-banner h1{
        color: white;
        font-family: Montserrat-Bold;
        font-size: 40px;
        line-height: 155%;
        margin: 20px 69px 0 59px;
        letter-spacing: 1.2px;
    }
    .sales-banner h2{
        color: white;
        font-family: Montserrat-Bold;
        font-size: 18px;
        line-height: 155%;
        margin: 0 auto;
        margin-top: -5px;
    }
    .sales-banner input{
        width: 267px;
        padding: 10px 0 11px 10px;
        margin-top: 25px;
        border-radius: 11px;
        border: none;
        color: #6C6C6C;
        font-family: Montserrat-SemiBold;
        font-size: 16px;
        line-height: 120%;
        outline:none;
    }
    .sales-banner button{
        border: white 2.39px solid;
        background: none;
        border-radius: 11px;
        color: white;
        font-family: Montserrat-Bold;
        font-size: 18px;
        line-height: 120%;
        padding: 17px 48px;
        margin-top: 15px;
        margin-bottom: 30px;
        letter-spacing: 0.8px;
    }
    .sales .blocks{
        margin-left: 5px;
        row-gap: 19px;
        column-gap: 15px;
    }
    .sales .block:nth-child(3){
        display: none;
    }
    .sales .block:nth-child(4){
        display: none;
    }
    .photo{
        width: 215px;
        height: 221px;
        border-radius: 10px;
        background-size: cover;
    }
    .photo:nth-child(2){
        width: 129px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .photo:nth-child(3){
        display: none;
    }
    .photo:nth-child(4){
        display: none;
    }
    .first-item{
        background: url(images/photo5.png);
    }
    .second-item{
        background: url(images/photo6.png);
    }
    .works h1{
        font-family: Montserrat-Bold;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.7px;
        margin: 30px 0 0 118px;
    }
    .photos{
        margin-left: 15px;
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        margin-top: 15px;
    }
    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info{
        margin-bottom: 10px;
    }
    .info h1{
        margin-top: 30px;
        font-family: Montserrat-Bold;
        font-size: 18px;
        line-height: 130%;
    }
    .info h2{
        font-family: Montserrat-SemiBold;
        font-size: 31px;
        line-height: 130%;
        margin-top: 15px;
    }
    .social-networks{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .social-networks .icon{
        width: 24px;
        height: 24px;
    }
    .column .instagram{
        background: url(images/instagram.png);   
        background-size: contain;
    }
    .column .whatsapp{
        background: url(images/whatsapp.png);
        background-size: contain;
    }
    .sn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desktop{
        display: none;
    }
    .mob{
        display: inline;
        font-family: Montserrat-SemiBold;
        font-size: 27px;
        line-height: 130%;
        margin-top: 15px;
        text-align: center;
    }
    .info h4{
        font-family: Montserrat-Medium;
        font-size: 10px;
        line-height: 130%;
        margin-top: 20px;
    }
    .info h5{
        font-family: Montserrat-SemiBold;
        font-size: 14px;
        line-height: 130%;
    }
    .info p {
        font-family: Montserrat-Medium;
        font-size: 10px;
        line-height: 130%;
        margin-top: 6px;
    }
}
@media screen and (min-width: 1280px) {
header{
    width: min(1440px, 100%);
    margin: 0 auto;
}
.container{
    padding: 0 30px;
}
header .menu {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.menu-burger{
    display: none;
}
.logo{
    width: 86.02px;
    height: 43.49px;
    background: url(images/logo.png);
    background-size: contain;
    margin-right: 40.98px;
    background-repeat: no-repeat;
}
.catalog {
    background-color: #F188F2;
    padding: 14px 30px 15px 30px;
    border-radius: 5px;
    margin-right: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.catalog:hover{
    background-color: #C949CA;
    transition: 0.5s;
    cursor: pointer;
}
.catalog-icon{
    width: 10px;
    height: 10px;
    background-image: url(images/for-catalog.png);
    background-position: center;
    margin-left: 5px;
    background-repeat: no-repeat;
}
.catalog p:hover {
    cursor: pointer;
}
.catalog p {
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: white;
}
.search input:hover {
    cursor: text;
}
.search {
    margin-right: 60px;
    border: #A9A9A9 solid 2px;
    width: 439px;
    height: 45px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-icon{
    background: url(images/search.png);
    width: 10px;
    height: 10px;
    background-size: contain;
    margin-left: 18px;
    background-repeat: no-repeat;
}
.search input {
    border: none;
    width: 387px;
    height: 40px;
    color: #7B7B7B;
    font-style: Montserrat-Medium;
    font-size: 14px;
    outline:none;
}
.sales-icon{
    display: none;
}
.menu ul {
    list-style: none;
    line-height: 130%;
    display: flex;
    align-items: center;
}
.menu ul li{
    margin-right: 40px;
    font-size: 16px;
    font-family: Montserrat-Medium;
}
.menu ul li:hover{
    color: #F188F2;
    font-family: Montserrat-SemiBold;
    transition: 0.5s;
    cursor: pointer;
}
.items-in-cart {
    display: none;
}
.cart{
    background: url(images/cart.png);
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.categories-menu{
    display: flex;
    align-items: center;
    margin-top: 22px;
    padding-bottom: 30px;
}
.categories-menu .logo {
    display: none;
}
.categories-menu ul li:hover{
    color: #F188F2;
    font-family: Montserrat-SemiBold;
    transition: 0.5s;
    cursor: pointer;
}
.categories-menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
    font-family: Montserrat-Medium;
    font-size: 18px;
    margin-right: 75px;
}
.phone-number {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Montserrat-SemiBold;
    font-size: 15px;
    line-height: 130%;
    margin-right: 25px;
}
.phone-number .arrow {
    width: 11px;
    height: 5px;
    background: url(images/arrow-bottom.png);
}
.categories-menu .icon{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.instagram:hover{
    cursor: pointer;
}
.whatsapp:hover{
    cursor: pointer;
}
.instagram{
    background: url(images/instagram.png);
    margin-right: 15px;
}
.whatsapp{
    background: url(images/whatsapp.png);
    margin-right: 40px;
}
.work-hours p{
    font-family: Montserrat-Medium;
    font-size: 12px;
    line-height: 130%;
}
.work-hours h3{
    font-family: Montserrat-SemiBold;
    font-size: 14px;
    line-height: 130%; 
    margin-top: 1px;
}
main {
    width: min(1440px, 100%);
    margin: 0 auto;
}
.start-banner {
    width: 1440px;
    height: 600px;
    background: url(images/banner.png);
    display: flex;
}
.start-banner h1{
    font-family: Montserrat-Bold;
    font-size: 80px;
    color: white;
    line-height: 130%;
    margin: 130px auto 5px 50px;
}
.start-banner h2{
    font-family: Montserrat-Bold;
    font-size: 63px;
    color: white;
    line-height: 130%;
    margin: 0 auto 60px 50px;
}
.see-all:hover{
    color: #C949CA;
    transition: 0.5s;
    cursor: pointer;
}
.more-info:hover{
    cursor: pointer;
}
.start-banner .buttons .see-all{
    background-color: white;
    font-family: Montserrat-Bold;
    font-size: 25px;
    border: none;
    border-radius: 13px;
    padding: 25px 50px;
    margin-left: 50px;
    margin-right: 38px;
}
.start-banner .buttons .more-info {
    background-color: #A1E2EB;
    border: 2px solid white;
    border-radius: 13px;
    padding: 23px 38px;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 25px;
}
.start-banner .buttons .show-me{
    display: none;
}
.popular-categories{
    padding-top: 40px;
}    
.header-category{
    display: flex;
}
.header-category h1{
    font-family: Montserrat-Bold;
    font-size: 40px;
    line-height: 130%;
    margin-right: 20px;
    letter-spacing: 1.2px;
}
.header-category p:hover{
    cursor:pointer
}
.header-category p{
    font-family: Montserrat-Regular;
    font-size: 16px;
    line-height: 130%;
    margin-right: 7px;
    margin-top: 24px;
    letter-spacing: 0.4px;
}
.header-category .arrow:hover{
    cursor: pointer;
}
.header-category .arrow{
    width: 13px;
    height: 13px;
    background-image: url(images/arrow-right.png);
    background-size: contain;
    margin-top: 29px;
    background-repeat: no-repeat;
}
.block div:hover{
    cursor: pointer;
}
.block h2:hover{
    cursor: pointer;
    color: #C949CA;
    transition: 0.5s;
}
.block p:hover{
    cursor: pointer;
}
.blocks{
    margin-top: 20px;
    display: flex;
    row-gap: 35px;
    column-gap: 36px;
    flex-wrap: wrap;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks .block .image {
    width: 318px;
    height: 350px;
    border-radius: 21px;
    background-size: cover;
}
.blocks .block .first {
    background-image: url(images/ballons-1.png);
}
.blocks .block .second {
    background-image: url(images/ballons-2.png);
}
.blocks .block h2{
    margin-top: 20px;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.7px;
    max-width: 318px;
}
.popular-products{
    margin-top: 40px;
}
.item {
    width: 318px;
    height: 276px;
    background: url(images/ballons-3.png);
}
.price {
    display: flex;
    gap: 30px;
    margin-bottom: 8px;
    margin-top: 20px;
    margin-left: -30px;
}
.price h1{
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    line-height: 130%;
}
.price span {
    font-size: 20px;
}
.price h4{
    font-family: Montserrat-Medium;
    font-size: 20px;
    line-height: 130%;
    text-decoration: line-through;
    color: #8B8B8B;
    margin-top: 10px;
}
.price h3 {
    font-family: Montserrat-SemiBold;
    line-height: 130%;
    font-size: 20px;
    color: #FF32A1;
    margin-top: 10px;
}
.block p{
    font-family: Montserrat-Medium;
    line-height: 130%;
    font-size: 16px;
    color: #3A3A3A;
    width: 253px;
    margin-left: -18px;
}
.sales-banner{
    margin-top: 116px;
    background: linear-gradient(70deg, rgba(240, 136, 242, 1), rgba(202, 74, 203, 1));
    display: grid;
    grid-template-columns: 703px auto;
    gap: 10px;
}
.girl-image{
    width: 703px;
    height: 552px;
    background-image: url(images/happy-party-girl.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -76px;
}

.sales-banner h1{
    color: white;
    font-family: Montserrat-Bold;
    font-size: 90px;
    line-height: 120%;
    margin-top: 44px;
    letter-spacing: 2.8px;
}
.sales-banner h2{
    color: white;
    font-family: Montserrat-Bold;
    font-size: 50px;
    line-height: 120%;
    margin-top: -10px;
    letter-spacing: 1.5px;
}
.sales-banner input:hover{
    cursor: text;
}
.sales-banner input{
    width: 422.71px;
    padding: 27.34px 0 26.1px 50.29px;
    margin-top: 46px;
    border-radius: 25.15px;
    border: none;
    color: #6C6C6C;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 120%;
    outline:none;
}
.sales-banner input:hover{
    width: 420.71px;
    padding: 25.34px 0 24.1px 48.29px;
    border-radius: 25.15px;
    border: #C949CA 2px solid;
}
.sales-banner button{
    border: white 2.39px solid;
    background: none;
    border-radius: 25.15px;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 28.74px;
    line-height: 120%;
    padding: 20.36px 94.6px 20.36px 95.8px;
    margin-top: 30.52px;
    letter-spacing: 0.8px;
}
.sales-banner button:hover{
    border: white 2.39px solid;
    background: white;
    border-radius: 25.15px;
    color: #C949CA;
    transition: 0.5s;
    font-family: Montserrat-Bold;
    font-size: 28.74px;
    line-height: 120%;
    padding: 20.36px 94.6px 20.36px 95.8px;
    margin-top: 30.52px;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.sales {
    margin-top: 40px;
}
.works {
    margin-left: 30px;
}
.works h1{
    font-family: Montserrat-Bold;
    font-size: 40px;
    line-height: 130%;
    margin-right: 20px;
    letter-spacing: 1.2px;
    margin-top: 37px;
}
.photos{
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    margin-top: 21px;
}
.photo{
    width: 395px;
    height: 409px;
    border-radius: 21px;
    background-size: cover;
}
.photo:nth-child(4){
    width: 150px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.first-item{
    background: url(images/photo1.png)
}
.second-item{
    background: url(images/photo2.png)
}
.third-item{
    background: url(images/photo3.png)
}
.fourth-item{
    background: url(images/photo4.png)
}
.next-arrow:hover{
    cursor: pointer;
}
.next-arrow{
    width: 30px;
    height: 30px;
    background-image: url(images/next.png);
    background-size: contain;
    margin: -219px 30px 0 1350px;
    position: absolute;
}
footer{
    width: min(1440px, 100%);
    margin: 0 auto;
}
.info{
    display: grid;
    grid-template-columns: 811px auto;
    margin-top: 40px;
    margin-bottom: 48px;
}
.info h1{
    font-family: Montserrat-Bold;
    font-size: 40px;
    line-height: 130%;
}
.info h2{
    font-family: Montserrat-SemiBold;
    font-size: 70px;
    line-height: 130%;
    margin-top: 25px;
}
.social-networks{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 33px;
}
.social-networks .icon{
    width: 50px;
    height: 50px;
    margin: 0;
    background-size: contain;
}
.sn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info h3{
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    line-height: 130%;
    margin-top: 25px;
}
.info h4{
    font-family: Montserrat-Medium;
    font-size: 18px;
    line-height: 130%;
    margin-top: 20px;
}
.info h5{
    font-family: Montserrat-SemiBold;
    font-size: 24px;
    line-height: 130%;
}
.info p {
    font-family: Montserrat-SemiBold;
    font-size: 15px;
    line-height: 130%;
    margin-top: 8px;
}
.add-to-cart{
    display: none;
}
.sale-value{
    display: none;
}
.column .mob{
    display: none;
}
}
